/*Mobile first*/
.colorText {
    display: block;
  }
.element {
    margin-top: 5%;
}
.colorImg{
    margin-top: 4%;
    max-width: 100%;
    border-radius: 20px;
}
.sizeText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.buttonContainer{
    display: flex;
    justify-content: flex-start;
    column-gap: 2%;
    align-items: center;
    position: sticky;
    top:0
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {     
  .colorText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
  }
  .colorImg{
    margin-top: 0%;
  }

  .buttonContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  .title{
      display: flex;
      justify-content: flex-start;
  }
}