/*Mobile first*/
.all {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    height: 100%;
    background-color: #FCFAF1;
}
.buttonContainer{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    margin-left: 10%;
    margin-right: 10%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {     
    .buttonContainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
  }