/*Mobile first*/
.all{
    height: 200%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5% 1fr 1fr;
    overflow-y: visible;
}
@media (min-width: 375px) {  
    .all{
        grid-template-rows: 10% 1fr 1fr;
    }
}
@media (min-width: 425px) {  
    .all{
        grid-template-rows: 12.5% 1fr 1fr;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .all{   
        height: 100%;
        grid-template-rows: 15% 1fr 1fr;
        overflow: hidden;
    }
}