html,
body {
  padding: 0;
  margin: auto;
  height: 100%;
  overflow-y: visible;
}
#__next{
  height: 100%;
}
* {
  font-family: 'Montserrat';
  user-select: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat/Montserrat-Medium.otf');
}