/*Mobile first*/
.parent{
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-rows: 1fr
}
.left{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right {
    display: none;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .parent{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .left{
        align-items: flex-start;
        margin-right: 0%;
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}