/*Mobile first*/
.colorText {
    display: block;
  }
.element {
    margin-top: 5%;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {     
  .colorText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
  }
}