/*Mobile first*/
.text {
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 1.15;
    font-size: 1.25em;
    text-align: left;
    padding-top: 5%;
  }
.brokenText {
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 1.15;
    font-size: 1.25em;
    text-align: left;
    padding-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {     
  .text {
    font-size: 1.5em;
    max-width: 100%;
  } 
  .brokenText {
    font-size: 1.5em;
    max-width: 100%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .text {
    font-size: 1.75em;
  } 
  .brokenText {
    font-size: 1.75em;
  } 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text {
    font-size: 2em;
  } 
  .brokenText {
    font-size: 2em;
  } 
}
/* 4K */
@media (min-width: 2560px) {
  .text {
    font-size: 2.25em;
  } 
  .brokenText {
    font-size: 2.25em;
  } 
}